/*=============================
        BOOK CONTENT
==============================*/

.book-content {

    flex: 1;

    padding: 40px;

    overflow: auto;

    background: var(--bg);

}

.book-page {


    margin: auto;

    background: var(--book);

    border-radius: 24px;

    padding: 50px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, .08);

}

.chapter-top {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;

}

.chapter-tag {

    background: #ede9fe;

    color: var(--primary);

    padding: 8px 18px;

    border-radius: 50px;

    font-weight: 600;

}

.chapter-number {

    color: var(--text-light);

}

.chapter-title {

    font-size: 42px;

    font-family: Poppins, sans-serif;

    margin-bottom: 15px;

}

.chapter-subtitle {

    color: var(--text-light);

    margin-bottom: 35px;

    line-height: 1.8;

}

.progress-head {

    display: flex;

    justify-content: space-between;

    margin-bottom: 10px;

}

.reading-bar {

    height: 8px;

    background: var(--border);

    border-radius: 50px;

}

.reading-fill {

    width: 35%;

    height: 100%;

    background: var(--primary);

    border-radius: 50px;

}

.chapter-body {

    margin: 40px 0;

}

.chapter-body p {

    line-height: 2;

    margin-bottom: 20px;

    color: #374151;

}

.key-point {

    background: #eef2ff;

    border-left: 5px solid var(--primary);

    padding: 25px;

    border-radius: 16px;

    margin-bottom: 35px;

}

.code-box {

    background: #111827;

    color: white;

    border-radius: 16px;

    padding: 25px;

    overflow: auto;

    margin-bottom: 40px;

}

.chapter-navigation {

    display: flex;

    justify-content: space-between;

}

.chapter-navigation button {

    border: none;

    background: var(--primary);

    color: white;

    padding: 14px 28px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 15px;

}

/*=============================
        AUDIO PLAYER
==============================*/

.audio-player {
    height: 90px;
    background: var(--sidebar);
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;

}

/* Left */

.player-info {

    display: flex;

    align-items: center;

    gap: 15px;

}

.player-icon {

    width: 50px;

    height: 50px;

    border-radius: 14px;

    background: var(--primary);

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 20px;

}

.player-info h4 {

    margin-bottom: 4px;

}

.player-info span {

    color: var(--text-light);

    font-size: 14px;

}

/* Center */

.player-controls {

    display: flex;

    gap: 15px;

}

.player-controls button {

    width: 48px;

    height: 48px;

    border: none;

    border-radius: 50%;

    background: #f3f4f6;

    cursor: pointer;

    font-size: 18px;

    transition: .3s;

}

.player-controls button:hover {

    background: var(--border);

}

.play-btn {

    background: var(--primary) !important;

    color: white;

}

/* Progress */

.player-progress {

    display: flex;

    align-items: center;

    gap: 15px;

    width: 350px;

}

.audio-bar {

    flex: 1;

    height: 8px;

    background: var(--border);

    border-radius: 50px;

    overflow: hidden;

}

.audio-fill {

    width: 30%;

    height: 100%;

    background: var(--primary);

}

/* Right */

.player-options {

    display: flex;

    gap: 12px;

}

.player-options button {

    width: 46px;

    height: 46px;

    border: none;

    border-radius: 12px;

    background: #f3f4f6;

    cursor: pointer;

}


.library-page {

    padding: 60px;

}

.library-header {

    margin-bottom: 50px;

}

.library-header h1 {

    font-size: 42px;

    font-family: Poppins;

}

.library-header p {

    color: var(--text-light);

    margin-top: 10px;

}

.book-grid {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

    gap: 30px;

}

.book-card {

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: var(--shadow-sm);

    transition: .3s;

}

.book-card:hover {

    transform: translateY(-8px);

    box-shadow: var(--shadow-lg);

}

.book-cover {

    width: 90px;

    height: 120px;

    background: var(--primary);

    border-radius: 14px;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    font-size: 42px;

    margin-bottom: 25px;

}

.book-card h2 {

    margin-bottom: 10px;

}

.book-card p {

    color: var(--text-light);

    margin-bottom: 25px;

}

.book-card button {

    width: 100%;

    height: 48px;

    border: none;

    border-radius: 12px;

    background: var(--primary);

    color: white;

    font-size: 15px;

}
