/* ==========================
   Header
========================== */

.header {
    height: 90px;
    background: var(--surface);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    border-bottom: 1px solid #e8e8e8;
}


/* Logo */

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: 55px;
    height: 55px;
    background: var(--primary);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}

.logo-text h2 {
    font-family: 'Poppins';
    font-size: 24px;
}

.logo-text span {
    font-size: 13px;
    color: #777;
}


/* Search */

.search-box {
    width: 430px;
    height: 52px;
    background: white;
    border-radius: 50px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 12px;

}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
}


/* Right Side */

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;

}

.header-actions button {
    width: 46px;
    height: 46px;
    border: none;
    background: #f3f4f6;
    border-radius: 14px;
    cursor: pointer;
    font-size: 18px;

}

.progress {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress span {
    font-weight: 600;
}

.progress-bar {
    width: 120px;
    height: 8px;
    background: #ddd;
    border-radius: 30px;
}

.progress-fill {
    width: 35%;
    height: 100%;
    background: var(--primary);
    border-radius: 30px;
}


/*=============================
        SIDEBAR
==============================*/

.sidebar {
    width: 320px;
    background: #111827;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-header h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

.chapter-list {
    flex: 1;
    overflow-y: auto;
}

.chapter {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: .3s;
}

.chapter:hover {
    background: var(--text);
}

.chapter.active {
    background: var(--primary);
}

.chapter-number {
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, .15);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
}

.chapter span {
    font-size: 15px;
    line-height: 1.4;
}

.download-btn {
    margin-top: 25px;
    height: 55px;
    border: none;
    border-radius: 16px;
    background: var(--text);
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: .3s;
}

.download-btn:hover {
    background: #374151;
}
