/* =================================
   Theme Variables
================================= */

:root{

    --bg:#F5F6FA;
    --card:#FFFFFF;
    --text:#1F2937;
    --text-light:#6B7280;
    --border:#E5E7EB;
    --primary:#6D5EF8;
    --sidebar:#1E1E2F;

}

body.dark{

    --bg:#0F172A;
    --card:#1E293B;
    --text:#F8FAFC;
    --text-light:#CBD5E1;
    --border:#334155;
    --primary:#8B7BFF;
    --sidebar:#111827;

}